body {
    background: #f2f2f2;
    font-family: sans-serif;
}
.container {
    width: 500px;
    margin: 40px auto;
}
h1 {
    text-align: center;
}
#searchInput {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 16px;
}
#noteInput {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #bbb;
    resize: none;
    font-size: 16px;
}
#addBtn {
    background: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    margin: 15px 0;
    cursor: pointer;
}
#addBtn:hover {
    background: #45a049;
}
.notes {
    margin-top: 20px;
}
.note {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
    border-right: 5px solid #4CAF50;
}
.note p {
    margin-top: 10px;
    line-height: 1.7;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.note small {
    color: gray;
    display: block;
    margin-bottom: 10px;
    text-align: end;
}
.deleteBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
}